.card{
  text-align: center;
  width: 520px;
  margin: 2rem auto;
  padding: 25px 20px;
  border: 1px gray solid;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.img{
  /* margin:auto; */
  object-fit: cover;
  border-radius: 6px;
  width: 490px;
}
p{
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin :12px;
}
