.card{
  text-align: center;
  width: 520px;
  margin: 2rem auto;
  padding: 20px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}
.img{
  margin: .5px auto;
  object-fit: cover;
  width: 500px;
}
p{
  color: wheat;
  font-size: 1.2rem;
}
