.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 520px;
  background-color: #222;
  border-radius: 20px;
  padding: 10px;
  margin: 3rem auto;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('./../../../../public/imgg.jfif');
  background-position: center;
  background-repeat: repeat;
}

.input-box {
  background-color: #414141;
  border: none;
  color: white;
  padding: 13px;
  width: calc(100% - 50px);
  border-radius:20px;
  cursor: pointer;
}
.input-box::placeholder {
  color: rgb(201, 201, 201);
}
.input-box:focus{
  height: 80px;
}
.input-box:hover{
  background-color:#484848;
}
.tabs {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}
.tab {
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.tab:hover{
  background-color: #414141;
  border-radius: 20px;
}
